/*hakai*/
body{
	padding: 0;
	margin: 0;
	background-image: url('../images/hakai2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

/* button */
.button
button {
	color: #000000;
	text-decoration: none;


}
.about {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.imagek{
	position: absolute;
	top: 270px;
	left: 340px;
}

a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
	
}




/* hakai2 1 */

/*{background: url('../images/hakai2.jpg') no-repeat;
position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;
}

/* button */
/*
button {
	position: center;
	width: 192px;
	height: 68px;
	left: 864px;
	top: 957px;
}
